In [1]:
#Import necessary packages
import pandas as pd
import seaborn as sns
%pylab inline
import matplotlib.pyplot as plt
import requests, re
import pandas as pd
import seaborn as sns
import nltk
import string, itertools
from collections import Counter, defaultdict
from nltk.text import Text
from nltk.probability import FreqDist
from nltk.tokenize import word_tokenize, sent_tokenize, regexp_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from gensim.corpora.dictionary import Dictionary
from gensim.models.tfidfmodel import TfidfModel
from sklearn.cluster import KMeans
from wordcloud import WordCloud

Populating the interactive namespace from numpy and matplotlib

In [3]:
#Load the detail dataset
detail = pd.read_excel('Q3_competition_detail_dataset.xlsx')
detail.head()

                       id  ... cross_streets
0  nzgC5hhlnSq2DYbJbtH5MQ  ...           NaN
1  i-2aG9_PQBEy7LrsRv0Ivg  ...           NaN
2  DJoeogRsOW5s9MzgveHQ2A  ...           NaN
3  hwWfv3sSxV3a47UAdSVT5w  ...           NaN
4  TxU0fwF2N2nVhCpzokc1Pg  ...           NaN

[5 rows x 21 columns]

In [4]:
#Combine all 3 categories into 1 column
detail['categories'] = detail[['categories01', 'categories02', 'categories03']].apply(
    lambda x: ','.join(x.dropna().astype(str)),
    axis=1
)
detail.head()

                       id  ...                     categories
0  nzgC5hhlnSq2DYbJbtH5MQ  ...  breakfast_brunch,tradamerican
1  i-2aG9_PQBEy7LrsRv0Ivg  ...                     bars,steak
2  DJoeogRsOW5s9MzgveHQ2A  ...                     salvadoran
3  hwWfv3sSxV3a47UAdSVT5w  ...                     sandwiches
4  TxU0fwF2N2nVhCpzokc1Pg  ...                          pizza

[5 rows x 22 columns]

In [5]:
#Load review table
review = pd.read_excel('Q3_competition_review_dataset.xlsx')
review.head()

                       id  ...  review_time_created
0  cal0Wpupxj9c_AV7WzDXsw  ...  2021-07-13 15:01:59
1  cal0Wpupxj9c_AV7WzDXsw  ...  2021-07-06 13:50:42
2  cal0Wpupxj9c_AV7WzDXsw  ...  2021-08-09 21:06:24
3  jVYU9iXvBMiC2A4H12Azfg  ...  2021-08-09 13:01:09
4  jVYU9iXvBMiC2A4H12Azfg  ...  2021-07-17 16:28:47

[5 rows x 5 columns]

In [6]:
#Check missing values
review.isnull().sum()

id                        6
review_id              1485
review_text            1485
review_rating          1485
review_time_created    1485
dtype: int64

### Merge two datasets and get new dataframe restaurants_reviews

In [7]:
#Merge detail and review datasets
restaurants_reviews = pd.merge(detail, review, on = 'id')

#Update column names
restaurants_reviews.rename(columns={'stars_x':'avg_star','stars_y':'review_star'}, inplace=True)

In [8]:
#Label reviews as positive or negative
restaurants_reviews['labels'] = ''
restaurants_reviews.loc[restaurants_reviews.review_rating >=4, 'labels'] = 'positive'
restaurants_reviews.loc[restaurants_reviews.review_rating ==3, 'labels'] = 'neural'
restaurants_reviews.loc[restaurants_reviews.review_rating <3, 'labels'] = 'negative'

#Drop neutral reviews for easy analysis
restaurants_reviews.drop(restaurants_reviews[restaurants_reviews['labels'] =='neural'].index, axis=0, inplace=True)
restaurants_reviews.reset_index(drop=True, inplace=True)

restaurants_reviews.head()

                       id  ...    labels
0  nzgC5hhlnSq2DYbJbtH5MQ  ...  positive
1  nzgC5hhlnSq2DYbJbtH5MQ  ...  positive
2  nzgC5hhlnSq2DYbJbtH5MQ  ...  positive
3  i-2aG9_PQBEy7LrsRv0Ivg  ...  positive
4  i-2aG9_PQBEy7LrsRv0Ivg  ...  negative

[5 rows x 27 columns]

In [9]:
#Import packages for filtering positive and negative words
import csv
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import LinearSVC

In [10]:
#Convert text to lower case
restaurants_reviews.review_text = restaurants_reviews.review_text.str.lower()

#Remove unnecessary punctuation
restaurants_reviews['removed_punct_text']= restaurants_reviews.review_text.str.replace('\n',''). \
                                          str.replace('[!"#$%&\()*+,-./:;<=>?@[\\]^_`{|}~]','')

In [11]:
#Import positive file which contains common meaningless positive words such as good
file_positive = open('positive.txt')
reader =csv.reader(file_positive)
positive_words = [word[0] for word in reader]

#Import negative file which contains common meaningless positive words such as bad
file_negative = open('negative.txt')
reader =csv.reader(file_negative)
negative_words = [word[0] for word in reader]

In [12]:
#Only keep positive and negative words
def filter_words(review):
    words = [word for word in review.split() if word in positive_words + negative_words]
    words = ' '.join(words)
    return words

In [13]:
#Drop rows with blank review
restaurants_reviews = restaurants_reviews[restaurants_reviews['review_text'].notna()]

In [15]:
#Filter words
restaurants_reviews['review_text'] = restaurants_reviews['review_text'].apply(filter_words)

In [16]:
#Split review_text into separate rows
restaurants_reviews2 = restaurants_reviews[['name', 'labels', 'review_text', 'categories']]
restaurants_reviews2.head()
restaurants_reviews2['review_text'] = restaurants_reviews2['review_text'].str.split(expand=True).stack().reset_index(name='Word').Word

                          name  ...                     categories
0  Foxy's Landing & Restaurant  ...  breakfast_brunch,tradamerican
1  Foxy's Landing & Restaurant  ...  breakfast_brunch,tradamerican
2  Foxy's Landing & Restaurant  ...  breakfast_brunch,tradamerican
3          Mosman's Steakhouse  ...                     bars,steak
4          Mosman's Steakhouse  ...                     bars,steak

[5 rows x 4 columns]

In [ ]:
#Export the file
restaurants_reviews2.to_csv(r'Restaurants_reviews2.csv', index = False)